<br>
<div class="row-fluid">
	<div class="span12">
		<b id="upcoming">History</b>
			<p id="contentText">Established in 1999, the Case Cycling Club has always been led by committed students. Focused primarily on the road season, we have had our share of successes within the Midwest Collegiate Cycling Conference (MWCCC) over the past two years:
				<ul id="contentText">
					<li>1st place, Men's Team Time Trial at Notre Dame</li>
					<li>2nd place, Men's Team Time Trial at Road Regionals</li>
					<li>1st place, Men's Road Race at Ohio State University</li>
					<li>1st place, Women's Team Time Trial at Notre Dame</li>
					<li>2nd place, Men's Criterium at University of Michigan</li>
					<li>1st place, Women's Criterium at University of Michigan</li>
					<li>Numerous top 5 finishes</li>
				</ul>
			</p>
			<br>
		<b id="upcoming"> New Additions: Track and Cyclocross </b>
			<p id="contentText">
				2012 marked Case Cycling's first foray into the disciplines of cyclocross and track. Despite this being foreign territory for most of our racers, Case won the Division II title at the MWCCC Track Regionals in Indianapolis, IN, and is now home to more than one top finisher in Ohio's State Track Championships. With cyclocross booming throughout the Midwest, we see this discipline as a key area of growth. In the years to come, we hope to expand participation and continue to excel at races, building our strengths and creating a national-caliber cycling program.
			</p>
			<br>
		<b id="upcoming"> Goals </b>
			<p id="contentText">
				In the world of collegiate cycling, few schools have top-ranked academics and nationally-recognized athletics; we plan to excel in both. As Case's cycling program continues to expand, our goal is to recruit students with a passion for both academic endeavors and cycling, recognizing that healthy lifestyles and educational achievement go hand-in-hand.
			</p>
		</div>
	</div>
	<br>
	<br>