<link type="text/css" href="/assets/fancymoves.css" media="screen" charset="utf-8" rel="stylesheet"  />
<link type="text/css" href="/assets/demo.css" media="screen" charset="utf-8" rel="stylesheet"  />
<script type="text/javascript" src="/assets/jquery.mousewheel-3.0.4.pack.js"></script>


<link rel="stylesheet" type="text/css" href="/assets/fancybox.css" media="screen" />

<script type="text/javascript">
$(document).ready(function() {
      /*
      *   Examples - images
      */

      $("a.pop1").fancybox();
      $("a.pop2").fancybox();
      $("a.pop3").fancybox();
      $("a.pop4").fancybox();
      $("a.pop5").fancybox();
      $("a.pop6").fancybox();

    }); 
</script>

<br>

<div class="row-fluid">
  <div class="span12">
    <center>
      
        </p> 
        <!-- /info -->
        <br>
        <p id="postTitle"><b>Clothing Orders Are Currently:</b> OPEN</p><br>
        <ul id="contentText">
          
          <li>We are currently accepting orders for our 2014 kit.<li>
          <li>To order, visit our Castelli team page <a href="https://teamorder.serviziocorse.com/index.aspx?pc=5FBCE09D-A574-450F-81FF-B14251B736E7">here</a> and make an account<li>           
        </ul><br>
      
      </center>
      <div id="slider-three">

        <div>
          <img src="/assets/clothing/mens.png" alt="" />

          <p class="clothes_label">Men's Jersey<br />
            <a class="pop1" href="/assets/clothing/mens.png" rel="group1" title="Front of Jersey">More Views</a>
            <a class="pop1" href="/assets/clothing/mens-2.png" rel="group1" title="Back of Jersey"></a>
          </p>                              
        </div>
        
        
        <div>
          <img src="/assets/clothing/bibs.png" alt="" />

          <p class="clothes_label">Bibshorts<br />
            <a class="pop3" href="/assets/clothing/bibs.png" rel="group3" title="Front of Bibshorts">More Views</a>
            <a class="pop3" href="/assets/clothing/bibs-2.png" rel="group3" title="Back of Bibshorts"></a>
          </p>
        </div>
      </div>
    </div>
<div class="span12 table-center">
      <b id="postTitle"> Items Available </b>
       </br> </br>
      <table id="contentText">
        <thead>
          <tr>
            <td width="85px"></td>
            <td><b>Item</b></td>
            <td><b>Mens</b></td>
            <td><b>Womens</b></td>
            <td><b>Status (# To Meet Minimums)</b></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>Aero Race 4.0 Jersey</td>
            <td>✓</td>
            <td></td>
            <td>10 Needed</td>
          </tr>

           <tr>
            <td></td>
            <td>Team Jersey Covered Full Zip</td>
            <td>✓</td>
            <td>✓</td>  
            <td>10 Needed</td>          
          </tr>

          <tr>
            <td></td>
            <td>Team Long Sleeve Jersey Covered Full Zip</td>
            <td>✓</td>
            <td>✓</td>   
            <td>10 Needed</td>         
          </tr>

          <tr>
            <td></td>
            <td>Aero Race Bibshort</td>
            <td>✓</td>
            <td></td>
            <td>10 Needed</td>            
          </tr>

          <tr>
            <td></td>
            <td>Castelli Team Bibshort</td>
            <td>✓</td>
            <td>✓</td>
            <td>10 Needed</td>              
          </tr>

           <tr>
            <td></td>
            <td>Castelli Team Short</td>
            <td>✓</td>
            <td>✓</td> 
            <td>10 Needed</td>             
          </tr>

           <tr>
            <td></td>
            <td>Thermal Jacket</td>
            <td>✓</td>
            <td>✓</td>   
            <td>10 Needed</td>           
          </tr>

           <tr>
            <td></td>
            <td>Speedsuit</td>
            <td>✓</td>
            <td>✓</td> 
            <td>10 Needed</td>             
          </tr>

          <tr>
            <td></td>
            <td>Thermoflex Arm Warmer</td>
            <td>✓</td>
            <td>✓</td>  
            <td>10 Needed</td>            
          </tr>

          <tr>
            <td></td>
            <td>Lycra Shoe Cover</td>
            <td>✓</td>
            <td>✓</td>  
            <td>10 Needed</td>            
          </tr>
          
        </table>

      </div>



      </div>
    </div>



