
  <!-- Required CSS -->
  <link type="text/css" href="/assets/fancymoves.css" media="screen" charset="utf-8" rel="stylesheet"  />


  <!-- Required script -->
 

  <!-- Demo only -->
  <link type="text/css" href="/assets/demo.css" media="screen" charset="utf-8" rel="stylesheet"  />
  
  
  <!-- FancyBox scripts -->
  <script type="text/javascript" src="/assets/jquery.mousewheel-3.0.4.pack.js"></script>
  
 
  <link rel="stylesheet" type="text/css" href="/assets/fancybox.css" media="screen" />
  
      <script type="text/javascript">
    $(document).ready(function() {
      /*
      *   Examples - images
      */

      $("a.pop1").fancybox();
      $("a.pop2").fancybox();
      $("a.pop3").fancybox();
      $("a.pop4").fancybox();
      $("a.pop5").fancybox();
      $("a.pop6").fancybox();

    });
  </script>


<!-- info -->
<div class="info">
<div align="center"></div>
<!-- /info -->

<div id="wrapper">
  <!-- Slider -->
  <div id="slider-three">

            <div>
            <img src="/assets/clothing/mens.png" alt="" />
                        
                              <p>Men's Jersey<br />
                                  <a class="pop1" href="/assets/clothing/mens-2.png" rel="group1" title="example title text">More Views</a>
                                  
                              </p>                              
            </div>
        
            <div>
            <img src="/assets/clothing/womens.png" alt="" />
                        
                              <p>Women's Jersey<br />
                                  <a class="pop2" href="/assets/clothing/womens-2.png" rel="group2" title="example title text">More Views</a>
                              </p>
            </div>
        
            <div>
            <img src="/assets/clothing/bibs.png" alt="" />
                        
                              <p>Bibshorts<br />
                                  <a class="pop3" href="/assets/clothing/bibs-2.png" rel="group3" title="example title text">More Views</a>
                                  <a class="pop3" href="/assets/clothing/bibs-3.png" rel="group3" title="more text right here"></a>
                              </p>
            </div>
        
            <div>
            <img src="/assets/clothing/skin.png" alt="" />
                        
                              <p>Skinsuit<br />
                                  <a class="pop4" href="/assets/clothing/skin-2.png" rel="group4" title="example title text">More Views</a>
                                  <a class="pop4" href="/assets/clothing/skin-3.png" rel="group4" title="more text right here"></a>
                              </p>
            </div>

            <div>
            <img src="/assets/clothing/gloves.png" alt="" />
                        
                              <p>Gloves<br />
                                  <a class="pop5" href="/assets/clothing/gloves-2.png" rel="group5" title="example title text">More Views</a>
                                
                              </p>
            </div>
        
            
        
            <div>
            <img src="/assets/clothing/cap.png" alt="" />
                        
                              <p>Cap<br />
                                  <a class="pop6" href="/assets/clothing/cap-2.png" rel="group6" title="example title text">More Views</a>
                                  <a class="pop6" href="/assets/clothing/cap-3.png" rel="group6" title="more text right here"></a>
                                  <a class="pop6" href="/assets/clothing/cap-4.png" rel="group6" title="more text right here"></a>
                                  <a class="pop6" href="/assets/clothing/cap-5.png" rel="group6" title="more text right here"></a>
                                  <a class="pop6" href="/assets/clothing/cap-6.png" rel="group6" title="more text right here"></a>

                              </p>
            </div>
        
            
  </div>
</div>



