<script type='text/javascript'>//<![CDATA[ 

var initialData = [
    {clothingType: "Short Sleeve Jersey", clothingPicture: "https://www.hincapie.com/ProductViewer.ashx?color=0&shot=0&width=200&height=244&product=C102M12", amount: [{"quantity":"1","size":"M","womens":false}]},
    {clothingType: "Long Sleeve Jersey", clothingPicture: "https://www.hincapie.com/ProductViewer.ashx?color=0&shot=0&width=200&height=244&product=C106M12", amount: []},
    {clothingType: "Bibshorts", clothingPicture: "https://www.hincapie.com/ProductViewer.ashx?color=0&shot=0&width=200&height=244&product=C202M12", amount: []},
    {clothingType: "Skinsuit", clothingPicture: "https://www.hincapie.com/ProductViewer.ashx?color=0&shot=0&width=200&height=244&product=C505M12", amount: []},
    {clothingType: "Speed Suit", clothingPicture: "https://www.hincapie.com/ProductViewer.ashx?color=0&shot=0&width=200&height=244&product=C506M11", amount: []},
    {clothingType: "Gloves", clothingPicture: "https://www.hincapie.com/ProductViewer.ashx?color=0&shot=0&width=200&height=244&product=C004U11", amount: []},
    {clothingType: "Cap", clothingPicture: "https://www.hincapie.com/ProductViewer.ashx?color=0&shot=0&width=152&height=186&product=C007U13", amount: []},

    
];
 
var ContactsModel = function(clothingOrders, name, email) {
    var self = this;
    this.name = ko.observable(name);
    this.email = ko.observable(email);
    self.clothingOrders = ko.observableArray(ko.utils.arrayMap(clothingOrders, function(clothingOrder) {
        return  { 
                clothingType: clothingOrder.clothingType, 
                clothingPicture: clothingOrder.clothingPicture, 
                amount: ko.observableArray(clothingOrder.amount),

                 };
    }));
 

    self.addOrder = function(clothingOrder) {
        clothingOrder.amount.push({
            quantity: "", 
            size: "",
            womens: false
        });
    };
 
    self.removeOrder = function(amount) {
        $.each(self.clothingOrders(), function() { this.amount.remove(amount) })
    };
 
    
};
 
 $(document).ready(function() {
    jsonModel = new ContactsModel(initialData, "", "");
    ko.applyBindings(jsonModel);
  });
  
  
//ko.applyBindings(new ContactsModel(initialDataOrder));
//]]>  

</script>

<body>
  <div class='liveExample'> 
    <br>
    <br>
      <p>Name: <input data-bind="value: name" /></p>
        <p>Email: <input data-bind="value: email" /></p>
        <br>
        <br>
    <div id='clothingOrdersList'>
        <table class='clothingOrdersEditor'>
         
        
            <tbody data-bind="foreach: clothingOrders">
             
                <tr>
                    <td>
                        <ul>
                          <li><span data-bind='text: clothingType' /></li>
                          <li><img data-bind="attr: {src: clothingPicture, width: 200}"></li>
                        </ul>
                    </td>
                    
                    <td>
                        <table>
                          <tr>
                                <td>Quantity</td>
                                <td>Size</td>
                                <td>Women's Cut?</td>
                              </tr>

                            <tbody data-bind="foreach: amount">

                                <tr>
                                    <td><select data-bind="value: quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </td>
                                    <td><select data-bind="value: size">
                                            <option value="XXS">XX Small</option>
                                            <option value="XS">X Small</option>
                                            <option value="S">Small</option>
                                            <option value="M" selected>Medium</option>
                                            <option value="L">Large</option>
                                            <option value="XL">X Large</option>
                                            <option value="XXL">XX Large</option>
                                            <option value="XXXL">XXX Large</option>
                                            
                                        </select></td>
                                    <td><input type="checkbox" data-bind='checked: womens' ></td>
                                    <td><a href='#' data-bind='click: $root.removeOrder'>Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <a href='#' data-bind='click: $root.addOrder'>Add <span data-bind="text: clothingType + ' To Order'"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
     
    
</div>
  


</body>


</html>

