<link type="text/css" href="/assets/fancymoves.css" media="screen" charset="utf-8" rel="stylesheet"  />
<link type="text/css" href="/assets/demo.css" media="screen" charset="utf-8" rel="stylesheet"  />
<script type="text/javascript" src="/assets/jquery.mousewheel-3.0.4.pack.js"></script>


<link rel="stylesheet" type="text/css" href="/assets/fancybox.css" media="screen" />

<script type="text/javascript">
$(document).ready(function() {
      /*
      *   Examples - images
      */

      $("a.pop1").fancybox();
      $("a.pop2").fancybox();
      $("a.pop3").fancybox();
      $("a.pop4").fancybox();
      $("a.pop5").fancybox();
      $("a.pop6").fancybox();

    });
</script>



<br>

<div class="row-fluid">
  <div class="span12">
    <center>
      <ul id="contentText">
        <li>These are the proofs provided to Case Cycling by Hincapie Sportswear, actual items may look slightly different. <li>
          <li>More items then shown are available, but are only minor variations from designs shown. </li>
          <li>If an item is not available in a women's variant, it is due to manufacturers' limitations.</li>
        </p> 
        <!-- /info -->
        <br>
        <b id="postTitle"> Clothing Orders Are Currently: Open </b><br><br>
      <ul id="contentText">
        <li>To order, go to https://teamcenter.hincapie.com and use code 'casecycling'<li> 
        <li>Orders close <strong> Tuesday - January 8 at 11:59PM</strong> </li>
      </ul>
      </center>
      <div id="slider-three">

        <div>
          <img src="/assets/clothing/mens.png" alt="" />

          <p>Men's Jersey<br />
            <a class="pop1" href="/assets/clothing/mens-2.png" rel="group1" title="Back of Jersey (Panel Expaned to Show Logos)">More Views</a>

          </p>                              
        </div>
        
        <div>
          <img src="/assets/clothing/womens.png" alt="" />

          <p>Women's Jersey<br />
            <a class="pop2" href="/assets/clothing/womens-2.png" rel="group2" title="Back of Jersey">More Views</a>
          </p>
        </div>
        
        <div>
          <img src="/assets/clothing/bibs.png" alt="" />

          <p>Bibshorts<br />
            <a class="pop3" href="/assets/clothing/bibs-2.png" rel="group3" title="Back of Bibshorts">More Views</a>
            <a class="pop3" href="/assets/clothing/bibs-3.png" rel="group3" title="Side Panels"></a>
          </p>
        </div>
        
        <div>
          <img src="/assets/clothing/skin.png" alt="" />

          <p>Skinsuit<br />
            <a class="pop4" href="/assets/clothing/skin-2.png" rel="group4" title="Back of Skinsuit">More Views</a>
          </p>
        </div>

        <div>
          <img src="/assets/clothing/gloves.png" alt="" />

          <p>Gloves<br />
            <a class="pop5" href="/assets/clothing/gloves-2.png" rel="group5" title="">More Views</a>

          </p>
        </div>
        

        
        <div>
          <img src="/assets/clothing/cap.png" alt="" />

          <p>Cap<br />
            <a class="pop6" href="/assets/clothing/cap-2.png" rel="group6" title="">More Views</a>
            <a class="pop6" href="/assets/clothing/cap-3.png" rel="group6" title=""></a>
            <a class="pop6" href="/assets/clothing/cap-4.png" rel="group6" title=""></a>
            <a class="pop6" href="/assets/clothing/cap-5.png" rel="group6" title=""></a>
            <a class="pop6" href="/assets/clothing/cap-6.png" rel="group6" title=""></a>

          </p>
        </div>
        

      </div>
    </div>
<div class="span12 table-center">
      <b id="postTitle"> Items Available </b>
       </br> </br>
      <table id="contentText">
        <thead>
          <tr>
            <td width="85px"></td>
            <td><b>Item</b></td>
            <td><b>Mens</b></td>
            <td><b>Womens</b></td>
            <td><b>Order Status</b></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>Velocity Short Sleeve Jersey</td>
            <td>✓</td>
            <td>✓</td>
            <td id="approved">Will Be Ordered</td>
          </tr>
          <tr>
              <td></td>
            <td>Velocity Long Sleeve Jersey</td>
            <td>✓</td>
            <td>✓</td>
            <td id="approved">Will Be Ordered</td>
          </tr>
          <tr>
              <td></td>
            <td>Velocity Plus Short Sleeve Jersey</td>
            <td>✓</td>
            <td></td>
            <td id="pending">1 Needed to Order</td>
          </tr>
          <tr>
              <td></td>
            <td>Velocity Bibshort</td>
            <td>✓</td>
            <td>✓</td>
            <td id="approved">Will Be Ordered</td>
          </tr>
          <tr>
              <td></td>
            <td>Velocity Short</td>
            <td>✓</td>
            <td>✓</td>
            <td id="pending">2 Needed to Order</td>
          </tr>    
          <tr>
              <td></td>
            <td>Axis Short Sleeve Skinsuit</td>
            <td>✓</td>
            <td>✓</td>
            <td id="pending">8 Needed to Order</td>
          </tr>  
          <tr>
              <td></td>
            <td>Race Glove</td>
            <td>✓</td>
            <td>✓</td>
            <td id="approved">Will Be Ordered</td>
          </tr>
          <tr>
              <td></td>
            <td>Cycling Cap</td>
            <td>✓</td>
            <td>✓</td>
            <td id="pending">31 Needed to Order</td>
          </tr>   
          <tr>
          <td></td>
            <td></td>
             <td></td>
           <td colspan='2'><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Updated: 1/7/13 at 5:15PM </i></td>

            </tr>
 
        </table>

      </div>



      </div>
    </div>



