<br><h2>
	<div class="sponsors" id="navigation"> 
		The Case Western University Cycling Club is currently seeking sponsors for the 2012-2013 season. <br>
		Our sponsorship packet can be found <%= link_to "here", '/packet.pdf' %> <br>
		For more information please contact
		<%= link_to 'david.takahashi@case.edu', 'mailto:david.takahashi@case.edu' %>
	
</h2>

<hr class="smooth">
<h2> Current Sponsors </h2>
<br>

	<center>
		<table>
			<tr>
				<td><img src="/assets/real.png"></td>
				<td><img src="/assets/hincapie.png" height="75%" width="75%"></td>
			</tr>
		</table>
	</center>
		