<h2>
	<div class="sponsors"> 
		The Case Western University Cycling Club is currently seeking sponsors for the 2012-2013 season. For more information please contact
		<%= link_to 'cycling@case.edu', 'mailto:cycling@case.edu' %>
	</div>
</h2>