<br>
<div class="row-fluid">
			<div class="span12">
				<% @posts.each do |post| %>
					<table>
						<tbody>
							<tr>
								<td id="postTitle" colspan='2'> <a href="/blogs/<%= post.id %>"><%= post.title %></a></td>
								
							<tr>
								<td id="contentText" colspan='3'><%= simple_format(post.contents) %></td>
							</tr>
							
						</tbody>
					</table>
				<% end %>		
			</div>
		</div>