<br>
<div class="row-fluid">
			<div class="span12">
				
					<table>
						<tbody>
							<tr>
								<td id="postTitle" colspan='2'> <%= @blog.title %></td>
								
							<tr>
								<td id="contentText" colspan='3'><%= simple_format(@blog.contents) %></td>
							</tr>
							
						</tbody>
					</table>
			
			</div>
		</div>

		<br><br><br>