<% @coaches.each do |coach| %>
    <div class="row-fluid">
        <h2><%= coach.name %> <small>(<%= link_to coach.contact, "mailto:" + coach.contact %>)</small></h2>
        <div class="span2">
             <% @imgString = "/assets/" +  coach.picture + ".jpg" %>
                     <img src= "<%= @imgString %>">
         </div>
         <div class="span9">
            <ul>
          
                    <% unless coach.bio.empty? %>
                    <li><b>Bio:</b><%= coach.bio %></li>
                    <% end %>                     
    </div> 
</div>
<% end %>