<% @coaches.each do |coach| %>
    <div class="row-fluid">
        <h2 id="nameBig">Coach<small> <%= coach.name %> (<%= link_to coach.contact, "mailto:" + coach.contact %>)</small></h2>
        <div class="span2">
              <% if coach.picture == "default" %>
                                <img src= "/assets/default.jpg" %>
                                <% else %>
                                <img src= "<%= coach.picture %>">
                                <% end %>
         </div>
         <div class="span9" id="bioText">
            <ul>
          
                    <% unless coach.bio.empty? %>
                    <li><b>Bio:</b><%= coach.bio %></li>
                    <% end %>                     
    </div> 
</div>
<% end %>
<br>
<br>
<br>