@import "bootstrap";

@media (min-width: 1200px) {
  .span12, .container {
    width: 960px;
  }
}

ul{
    list-style: none;
}

html {
  overflow-y: scroll;
}

.leftSide{
  float:left;
}

.rightSide{
  float:right;
}

.bodyContainer{
  
}

body {
  background-image:url(/assets/dust.png);
  font-family: verdana, arial, helvetica, sans-serif;
  padding-bottom: 60px;  
}

div.sponsors{
  text-align: center;
  height:720px;
}
table.recTable {
    table-layout: fixed;
    width: 960px;
}
    table.recTable td.recCell {
        width: 320px;
    }

#navBackground{
   background-image:url(/assets/background.png);
   border-bottom: 7px solid #428CE7;
}
.officers {
  td
  {
    width:20px;
    vertical-align:bottom;
  }
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: white;
  text-decoration: none;
  background-color: #428CE7;
}

#nav1 {

  font-size: 1em;
  letter-spacing: 1.5px;
  text-align: left;
  ul li {list-style: none;}
  

}

#navFront ul li {
  list-style: none;
  table{
    margin-left:auto; 
    margin-right:auto;
  }

}


/* top nav */
#navTop ul li {
  text-transform: uppercase;
  display: inline;
  list-style: none;

}

#navBottom ul li {
  font-size:10px;
  display: inline;
  list-style: none;
  text-align: left;
  a{color: #0a304e;
    text-decoration: none;};

}

#nav ul li a {
  
  color: #626262;

  padding: 0px 20px 0px 0px;
  text-decoration: none;
}
#nav ul li a:hover {
  color: #fff;
  text-style: bold;
  text-decoration: none;
}
#nav ul li a.active {
  
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
   color: #626262;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


.jumbotron {
  margin-left:auto; 
  margin-right:auto;

  color: #fffff;

 
}
.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #000;

  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

