@import "bootstrap";

html {
  overflow-y: scroll;
}

.bodyContainer{
  background-image:url(/assets/cream_dust.png);
}
body {
	background-image:url(/assets/background.png);
  padding-bottom: 60px;
  font-family:"Times New Roman",Georgia,Serif;
}

.officers {
  td
  {
    width:20px;
    vertical-align:bottom;
  }
}
#nav1 {

  font-size: 1em;
  letter-spacing: 1.5px;
 text-align: left;

}


/* top nav */
#nav ul li {
  text-transform: uppercase;
  display: inline;
  list-style: none;

}

#nav ul li a {
  
  color: #626262;

  padding: 0px 20px 0px 0px;
  text-decoration: none;
}
#nav ul li a:hover {
  color: #fff;
  text-style: bold;
  text-decoration: none;
}
#nav ul li a.active {
  
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fffff;
  text-align: center;
 
}
.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #000;

  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

