
/* panel images */
.mb-inside img {
  width: 100%;
}


#slider-one p, #slider-two p, #slider-three p, #slider-four p, #slider-five p {
font-size: 11px;
	color: #000; 
	text-transform:uppercase; 
	position:relative; 
	top:-2.8em; 
	text-align:center; 
	font-weight:bold; 
	font-family:Arial, Helvetica, sans-serif; 
	
}
	
.mb-inside a, .mb-inside a:visited {color:#ccc; text-decoration:none; font-size:13px; }
.mb-inside a:hover {color:#428CE7; text-decoration:none; font-size:13px; cursor:pointer}

