<!DOCTYPE html>
<html>
  <head>
    
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <script type="text/javascript" src="/assets/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="/assets/basic-jquery-slider.js"></script>
  </head>
  <body>
    
<div class= "jumbotron masthead" id="nav">
  <img src="/assets/banner.png">
  <hr class="soften">
  <div id="nav">
  <ul>
  <li><a href="/" class="active">Home</a></li>
  <li>
  <a href="/officers">Officers</a></li>
  <li>
  <a href="#">Coaches</a></li>
  <li>
  <a href="#">Members</a></li>
  <li>
  <a href="#">Sponsors</a></li>
  <li>
  <a href="#">About Us</a></li>
  <li>
  <a href="#">Contact</a>
  </li>
  </ul>
  <hr class="soften">

</div>
</div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>